*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #888;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.calculator {
  width: 300px;
  padding: 10px;
  background-color: #292D36;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#display {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  font-size: 36px;
  text-align: right;
  border: none;
  border-radius: 10px;
  background-color: #22252D;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.buttons{
  display: flex;
  text-align: center;
  justify-content: center;

}

.buttonLayout {
  display: grid;
  height: 16rem;
  width: 13.5rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.generalBtn {
  display: flex;
  background-color: #272B33;
  transition-duration: 100ms;
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  border-width: 2px;
}

.generalOp1{
  display: flex;
  background-color: #272B33;
  transition-duration: 100ms;
  color: #26C2A9;
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  border-width: 2px;
}

.generalOp2{
  display: flex;
  background-color: #272B33;
  transition-duration: 100ms;
  color: orange;
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  border-width: 2px;
}

.generalBtn:hover {
  background-color: #000000;
  color: #ffffff;
}

.generalOp1:hover{
  background-color: #000000;
  color: #ffffff;
}

.generalOp2:hover{
  background-color: #000000;
  color: #ffffff;
}