.mainLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.buttonLayout {
  display: grid;
  width: 12rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
}

.generalBtn {
  display: flex;
  background-color: #ffffff;
  transition-duration: 100ms;
  color: #000000;
  font-size: 1.125rem;
  line-height: 1.75rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  border-width: 2px;
}

.generalBtn:hover {
  background-color: #000000;
  color: #ffffff;
}
